@font-face {
  font-family: "Exo";
  src: url(../Fonts/Exo/Exo-VariableFont_wght.ttf);
}

h1 {
  font-family: Exo;
  color: white;
  letter-spacing: 15px;
  font-size: 100px;
}

p {
  font-family: Exo;
  color: black;
}

h2 {
  color: darkgrey;
  font-size: 60px;
  text-align: center;
  width: auto;
  font-family: "Exo";
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 5px;
  background-clip: text;
  position: relative;
}

.abtmg{
  margin-left: 30px;
}

.compimg {
  position: relative;
  padding-top: 100px;
  margin-left: 340px;
  filter: drop-shadow(0px 3px 3px black);
}

#paragraph-1 {
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
}


