@font-face {
    font-family: "Exo";
    src: url(../Fonts/Exo/Exo-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Martel";
    src: url(../Fonts/Martel/MartelSans-Regular.ttf);
}

body{
    background-color: #211F21;
}

.head{
    text-align: center;
    width: auto;
    margin-top: 10px;
}

.head2{
    text-align: center;
    width: auto;
    margin-top: 50px;
}

h1{
    font-size: 80px;
    font-family: 'Exo';
    font-weight: bold;
    letter-spacing: 5px;
    color: white; 
    position: relative;
}

h2{
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  font-family: 'Exo';
}

.head2 h3{
    font-size: 60px;
    font-family: 'Exo';
    font-weight: bold;
    letter-spacing: 5px;
    color: white; 
    position: relative;
}

.head p{
    color: white;
}

.oneform{
    max-width: 500px;
    margin: auto;
    display: flex;
}

.form-control{
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    color: white;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    background-color: transparent;
    color: white;
  }

label{
    color: white;
    font-size: 18px;
}

.oneform .btn{
    background-color: white;
    font-family: 'Martel';
    font-weight: bolder;
    margin-top: 50px;
    border-radius: 25px;
    height: 50px;
    padding-top: 12px;
    padding-left: auto;
}

.delete .btn2{
    background-color: rgb(255, 255, 255);
    font-family: 'Martel';
    font-weight: bolder;
    margin-top: -5px;
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    padding-top: 10px;
    padding-left: auto;
    color: black;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 100px;
    margin-right: 30px;
}


.delete{
    text-align: center;
    width: auto;
    margin-top: 50px;
    font-size: 20px;
}