@font-face {
    font-family: "Exo";
    src: url(../Fonts/Exo/Exo-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Martel";
    src: url(../Fonts/Martel/MartelSans-Regular.ttf);
}

body{
    background-color: #211F21;
}

.head{
    text-align: center;
    width: auto;
    margin-top: 10px;
}

h1{
    font-size: 80px;
    font-family: 'Exo';
    font-weight: bold;
    letter-spacing: 5px;
    color: white; 
    position: relative;
}

h2{
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  font-family: 'Exo';

}

.head p{
    color: white;
}

.oneform{
    max-width: 500px;
    margin: auto;
    display: flex;
}

.form-control{
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    color: white;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    background-color: transparent;
    color: white;
  }

label{
    color: white;
    font-size: 18px;
}

.oneform .btn{
    background-color: white;
    font-family: 'Martel';
    font-weight: bolder;
    margin-top: 50px;
    border-radius: 25px;
    height: 50px;
    padding-top: 12px;
    padding-left: auto;
}

