@font-face {
    font-family: "Open-Sans";
    src: url(../Fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Exo";
    src: url(../Fonts/Exo/Exo-VariableFont_wght.ttf);
}

.nav-link{
    font-size: 14px;
    color: #6b6565;
    margin-left: 20px;
}


.active{
    color: #B4B4B4 !important;
}
.navbar{
    font-family: 'Exo';   
}

.navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}


.navbar-toggler-icon {
    background-color: rgb(255, 255, 255) !important; /* Change the background color to red */
    border-color: rgb(32, 33, 32); /* Change the border color to green */
  }

.navbar-brand:hover {
    color: white !important;
  }

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ 
        display: none; 
    }
	.profile:hover .dropdown-menu{
         display: block;
         }
	.navbar .nav-item .dropdown-menu{ 
        margin-top:0;
        
    }
}